html {
    scroll-behavior: smooth;
  }
  


body {
    color: white;
    background-color:black;
    font-family: 'Raleway', sans-serif;
}

.logo_viajes {
    width: 33px;

}

.barra-navegacion {
    color: white;
}

.card-img-top {
    height: 10rem;
}

.fontawesome {
    font-size: 2rem;
}

.navbar-nav {
z-index: 2;
}